/* ========================== BASE ========================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #f7f9fb;
}

section {
    padding: 60px 8%;
}

/* -------------------- NAVBAR -------------------- */

#header {
    width: 100%;
    background-color: #eef6fb;
    padding: 18px 8%;
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 48px;
}

.nav-list {
    display: flex;
    gap: 40px;
    list-style: none;
}

.nav-list a {
    text-decoration: none;
    color: #2a4d69;
    font-weight: 600;
    transition: .3s;
}

.nav-list a:hover {
    color: #77a4c3;
}

/* ========================== HOME ========================== */

#home {
    min-height: 70vh;
    background: linear-gradient(135deg, #8cb9d9, #ceb1da);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
}

.home-title {
    font-size: 7rem;
    font-weight: 800;
    color: #ffffff;
}

.home-subtitle {
    color: #ffffff;
    font-size: 1.7rem;
    margin-top: -37px;
    font-weight: 600;
    padding-left: 47%;
}

.home-card {
    background: #fdfbfc;
    padding: 40px;
    width: 45%;
    border-radius: 16px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.1);
    color: #6da4ca;
}



/* ========================== TITULOS ========================== */

.section-title {
    font-size: 3rem;
    color: #2c4d69;
    font-weight: 700;
    margin-bottom: 40px;
}

.white {
    color: white;
}

/* ========================== CARDS ========================== */

.cards-row {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    background: #b1d3ea;
    padding: 28px;
    border-radius: 20px;
    color: white;
    width: 45%;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.white-card {
    background: white !important;
}

.dark-text {
    color: #2a4d69;
}

.image-card img {
    width: 100%;
    border-radius: 14px;
}

/* ========================== INTEGRACAR ========================== */

#integracar {
    background: #fdfbfc;
    padding: 5%;
}

#integracar .card {
    background-color: #6da4ca;
}

#integracar h2 {
    color: #6da4ca
}

#integracar .card {
    color: #fdfbfc
}


/* ========================== ORTOFOTOMOSAICOS ========================== */

#ortofotomosaicos {
    background: #6da4ca;
    color: #fdfbfc;
    padding-bottom: -1%;
}

/* ========================== FLUXO ========================== */

#fluxo {
    background: #6da4ca;
    padding-top: -10%;
}

.fluxo-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
}

.fluxo-item {
    background: #3e88af;
    padding: 16px;
    border-radius: 12px;
    font-size: 1.3rem;
    color: white;
    font-weight: 600;
    display: flex;
    gap: 10px;
}

/* ========================== EQUIPE ========================== */

#equipe {
    background: #c2dcee;
}

.team-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px;
}

.team-card {
    background: #6da4ca;
    padding: 20px;
    width: 18%;
    border-radius: 18px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    color: #d9e8ec
}

.team-card h4 {
    font-size: 1.2rem;
    color: #fdfbfc;
}

.email {
    font-size: .9rem;
    color: #fdfbfc;
}
